name: guia_manizales
description: Guía Turística de Manizales - Proyecto Educativo
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.0  
  google_maps_flutter: ^2.2.5
  sqflite: ^2.2.8
  path_provider: ^2.1.0
  path: ^1.8.3
  url_launcher: ^6.1.10

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/data/lugares.json
    - assets/images/